@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-brand-1: #364FC7;
    --grey-1: #212529;
    --grey-2: #868E96;
    --grey-3: #ADB5BD;
    --grey-4: #E9ECEF;
    --grey-5: #E9ECEF;
    --grey-6: #E9ECEF;
    --mode: #FFFFFF;
    --font-family: 'Roboto', sans-serif;
    --font-weight1: 400;
    --font-weight2: 500;

}

body {
    font-family: var(--font-family);
    background-color: var(--mode);
}