@import url("./globalSettings.css");


header {
    padding-top: clamp(1.2rem, 0.943rem + 1.174vw, 1.7rem);
    padding-bottom: clamp(1.2rem, 0.943rem + 1.174vw, 1.7rem);
    border-bottom: 2px solid var(--grey-4);


}

.right__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    flex-wrap: wrap;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header ul {
    display: flex;
    gap: 1rem;
    align-items: center;

}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--grey-2);
    font-weight: var(--font-weight1);
}

header a:hover {
    color: var(--grey-1);

}

.profile {
    display: flex;
    align-items: center;

}

.profile img {
    width: 3rem;
    border-radius: 50%;
    border: 2px solid rgb(32, 147, 255);
}

h4 {
    display: none;
}

.fa-bars {
    font-size: clamp(1.7rem, 1.604rem + 0.44vw, 2rem);
    display: none;
}

.burger__div {
    display: none;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 5px;
}


.search input {
    height: 100%;

    /* display: flex; */
}

.fa-magnifying-glass {
    left: 0.2rem;
    font-size: 0.8rem;
    position: absolute;
    color: var(--grey-2);
    top: 0.3rem;
}