@import url("./globalSettings.css");


header {
    padding-top: clamp(1.2rem, 0.943rem + 1.174vw, 1.7rem);
    padding-bottom: clamp(1.2rem, 0.943rem + 1.174vw, 1.7rem);
    padding-left: clamp(1.6rem, 1.472rem + 0.587vw, 2rem);
    padding-right: clamp(1.6rem, 1.472rem + 0.587vw, 2rem);
    border-bottom: 2px solid var(--grey-4);
    max-width: 100%;
}

nav img {
    width: clamp(5.6rem, 4.879rem + 1.124vw, 5.89rem);
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
}

.right__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

.main__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}

header ul {
    display: flex;
    gap: 1rem;
    align-items: center;

}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--grey-2);
    font-weight: var(--font-weight1);
}

header a:hover {
    color: var(--grey-1);
    transition: 0.3s;

}

.profile img {
    width: clamp(2.2rem, 1.943rem + 1.174vw, 3rem);
    border-radius: 50%;
    border: 2px solid rgb(32, 147, 255);
}

h4 {
    display: none;
}

.fa-bars {
    font-size: clamp(1.7rem, 1.604rem + 0.44vw, 2rem);
    display: none;
}

.burger__div {
    display: none;
}

.right__container {
    display: flex;
    gap: 1rem;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 5px;
}

.search__profile {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}


.search input {
    height: 2.3rem;
    padding-left: 1.3rem;
    background-color: var(--grey-5);
    border: 1px solid transparent;
    border-radius: 0.4rem;

    /* display: flex; */
}

.fa-magnifying-glass {
    left: 0.3rem;
    font-size: 0.8rem;
    position: absolute;
    color: var(--grey-2);
    top: 0.7rem;
}

@media (max-width: 450px) {

    header {
        height: 10vh;
        position: relative;
    }

    .header__container {
        display: flex;
        justify-content: space-between;

    }

    .main__elements {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        height: 94vh;
        width: 100%;
    }

    .right__container {
        flex-direction: column;
        width: 100%;
    }

    .burger__div {
        display: inline-block;
        z-index: 1;

    }

    header nav {
        flex-direction: column;

    }

    header ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
        font-size: 1.5rem;
        position: absolute;
        top: 110px;
        width: 100dvw;
        height: 100%;
    }

    header li {
        width: 89dvw;
        padding: 1.25rem 1rem;
    }

    header li:hover {
        background-color: var(--grey-6);
        color: var(--grey-1);
        transition: 0.2s
    }

    .search__profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .profile {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }


    h4 {
        display: block;
        color: var(--grey-1);
        font-weight: var(--font-weight2);
    }

    .search__input {
        width: 80dvw;
        max-width: 100%;
        padding-left: 0.15rem
    }

    .fa-magnifying-glass {
        top: 0.8rem;
    }

    .mobile__shadow {
        width: 85dvw;
        height: 10px;
        position: absolute;
        top: 78svh;
        border-bottom: 2px solid var(--grey-4);

    }

}